<span *ngIf="!editMode; else edit">
  <span>
    {{value ? (value | date: 'yyyy-MM-dd') : '-' }}
  </span>
</span>

<ng-template #edit>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="datepicker" [(ngModel)]="value" readonly (click)="datepicker.open()">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>
  <app-editor-controls (confirm)="emitValue($event)"
                       (cancel)="revertChange($event)"
                       (delete)="deleteValue()">
  </app-editor-controls>
</ng-template>
